*
!.gitignore

!build

!.scripts/
!.scripts/**

!.packages/
!.packages/**

!.base/
!.base/**

!.linux/
!.linux/**

!.macos/
!.macos/**

!etc/
!etc/**

.base/elinks/bookmarks
.base/elinks/cookies
.base/elinks/globhist
.base/elinks/gotohist

.base/kitty/kitty.conf
.base/starship/.user
.base/starship/.root
