Slack/
transg/
kitty/kitty.conf
elinks/bookmarks
elinks/cookies
elinks/globhist
elinks/gotohist
astro/
fish/credentials
Android Open Source Project/
thokr/
starship/.user
starship/.root
ppsspp/
user-dirs.locale
fish/completions
fish/keys
via-nativia/
nvim/lazy-lock.json
karabiner/automatic_backups
nicotine/
Google/
unityhub/
gtk-3.0/
nvtop/
calcurse/
Code/
nvim/plugin/packer_compiled.lua
ranger/plugins/*/.git
ranger/plugins/__pycache__
ranger/plugins/__init__.py
configstore/
steam-rom-manager/
.DS_Store
fish/fish_variables
kritadisplayrc
kritarc
QtProject.conf
Min/
rpcs3/
menus/
dconf/
transmission-daemon/
cef_user_data/
pulse/
BraveSoftware/
gh/
yarn/
libreoffice/
btop/
nextjs-nodejs/
kdenliverc
kdenlive-layoutsrc
kdeglobals
