steam-rom-manager/
.DS_Store
fish/fish_variables
kritadisplayrc
kritarc
QtProject.conf
Min/
rpcs3/
menus/
dconf/
transmission-daemon/
cef_user_data/
pulse/
BraveSoftware/
gh/
yarn/
libreoffice/
btop/
nextjs-nodejs/
