#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: false,
    draw_borders: true,
    browser_column_widths: [33, 33, 33],
    background_color: None,
    text_color: None,
    header_background_color: None,
    modal_background_color: None,
    tab_bar: (
        enabled: true,
        active_style: (fg: "0", bg: "9", modifiers: "Bold"),
        inactive_style: (),
    ),
    highlighted_item_style: (fg: "15", modifiers: "Bold"),
    current_item_style: (fg: "black", bg: "9", modifiers: "Bold"),
    borders_style: (fg: "black"),
    highlight_border_style: (fg: "#363636"),
    symbols: (song: "", dir: "", marker: "M", ellipsis: "..."),
    progress_bar: (
        symbols: ["━", "━", "━"],
        track_style: (fg: "#363636"),
        elapsed_style: (fg: "9"),
        thumb_style: (fg: "9", bg: "0"),
    ),
    scrollbar: (
        symbols: ["│", "┃", "╷", "╵"],
        track_style: (fg: "#363636"),
        ends_style: (fg: "#363636"),
        thumb_style: (fg: "#363636"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Title), style: (fg: "7"), default: (kind: Text("Unknown"))),
            width_percent: 90,
            alignment: Left,
        ),
        (
            prop: (kind: Property(Duration), style: (fg: "7"), default: (kind: Text("-"))),
            width_percent: 10,
            alignment: Right,
        ),
    ],
    header: (
        rows: [
			(
				left: [
					(kind: Property(Status(State)), style: (fg: "9")),
                    (kind: Text(" | "), style: (fg: "7")),
                    (kind: Property(Status(Elapsed)), style: (fg: "7")),
                    (kind: Text(" / "), style: (fg: "7")),
                    (kind: Property(Status(Duration)), style: (fg: "7")),
				],
				center: [
					(kind: Property(Song(Title)), style: (fg: "15"), default: (kind: Text("play"))),
                    (kind: Text(" ~ "), style: (fg: "15")),
					(kind: Property(Song(Album)), style: (fg: "15"), default: (kind: Text("something"))),
				],
				right: [
                    (kind: Property(Widget(States(active_style: (fg: "15"), separator_style: (fg: "7")))), style: (fg: "dark_gray")),
                    (kind: Text(" | "), style: (fg: "7")),
					(kind: Property(Status(Volume)), style: (fg: "9")),
					(kind: Text("%"), style: (fg: "9")),
				]
			),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
)
