#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: false,
    draw_borders: true,
    browser_column_widths: [33, 33, 33],
    background_color: None,
    text_color: None,
    header_background_color: None,
    modal_background_color: None,
    tab_bar: (
        enabled: true,
        active_style: (fg: "8", bg: "4", modifiers: "Bold"),
        inactive_style: (),
    ),
    highlighted_item_style: (fg: "4", modifiers: "Bold"),
    current_item_style: (fg: "8", bg: "4", modifiers: "Bold"),
    borders_style: (fg: "8"),
    highlight_border_style: (fg: "8"),
    symbols: (song: "", dir: "", marker: "M", ellipsis: "..."),
    progress_bar: (
        symbols: ["━", "━", "━"],
        track_style: (fg: "8"),
        elapsed_style: (fg: "4"),
        thumb_style: (fg: "4"),
    ),
    scrollbar: (
        symbols: ["", "", "", ""],
        track_style: (fg: "0"),
        ends_style: (fg: "0"),
        thumb_style: (fg: "0"),
    ),
    song_table_format: [
        (
            prop: (kind: Text(""), style: (fg: "0"), default: (kind: Text("Unknown"))),
            width_percent: 1,
            alignment: Left,
        ),
        (
            prop: (kind: Property(Title), style: (fg: "0"), default: (kind: Text("Unknown"))),
            width_percent: 89,
            alignment: Left,
        ),
        (
            prop: (kind: Property(Duration), style: (fg: "0"), default: (kind: Text("-"))),
            width_percent: 9,
            alignment: Right,
        ),
        (
            prop: (kind: Text(""), style: (fg: "0"), default: (kind: Text("Unknown"))),
            width_percent: 1,
            alignment: Left,
        ),
    ],
    header: (
        rows: [
			(
				left: [
					(kind: Property(Status(State)), style: (fg: "4")),
                    (kind: Text(" | "), style: (fg: "7")),
                    (kind: Property(Status(Elapsed)), style: (fg: "7")),
                    (kind: Text(" / "), style: (fg: "7")),
                    (kind: Property(Status(Duration)), style: (fg: "7")),
				],
				center: [
					(kind: Property(Song(Title)), style: (fg: "4"), default: (kind: Text("play"))),
                    (kind: Text(" : "), style: (fg: "4")),
					(kind: Property(Song(Album)), style: (fg: "4"), default: (kind: Text("something"))),
                    (kind: Text(" - "), style: (fg: "4")),
					(kind: Property(Song(Artist)), style: (fg: "4"), default: (kind: Text("sad"))),
				],
				right: [
                    (kind: Property(Widget(States(active_style: (fg: "4"), separator_style: (fg: "7")))), style: (fg: "0")),
                    (kind: Text(" | "), style: (fg: "7")),
					(kind: Property(Status(Volume)), style: (fg: "4")),
					(kind: Text("%"), style: (fg: "4")),
				]
			),
			// (left: [ ], center: [ ], right: [ ]),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
)
