/* -------- HINTS -------- */
#vimiumHintMarkerContainer div.internalVimiumHintMarker, #vimiumHintMarkerContainer div.vimiumHintMarker {
  background: #000000;
  border: 2px solid #EBDBB2;
  border-radius: 4px;
  box-shadow: none;
  padding: 3px 4px;
}

#vimiumHintMarkerContainer div span {
  color: #f0dfaf;
  font-family: Iosevka Term Curly;
  font-size: 16;
  font-weight: normal;
  text-shadow: none;
}

#vimiumHintMarkerContainer div > .matchingCharacter {
  opacity: 0.3;
}

#vimiumHintMarkerContainer div > .matchingCharacter ~ span {
  color: #83a598;
}

/* -------- VOMNIBAR -------- */
#vomnibar {
  animation: show 200ms cubic-bezier(0, 0, 0.2, 1) forwards;
  background: #000000;
  border: 2px solid #EBDBB2;
  border-radius: 4px;
  box-shadow: none;
}

/* Animate Slide in */
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#vomnibar .vomnibarSearchArea,
#vomnibar input {
  background: transparent;
  border: none;
  box-shadow: none;
  color: #ebdbb2;
  font-family: Iosevka Term Curly;
  font-size: 16;
  font-weight: normal;
}

#vomnibar .vomnibarSearchArea {
  padding: 2px 30px;
}

#vomnibar input {
  padding: 2px}

#vomnibar ul {
  background: #000000;
  border-top: none;
  margin: 0;
  padding: 2px;
}

#vomnibar li {
  border-bottom: none;
  padding: 2px;
}

#vomnibar li .vomnibarTopHalf,
#vomnibar li .vomnibarBottomHalf {
  padding: 2px 0;
}

#vomnibar li .vomnibarSource {
  color: #83a598;
  font-family: Iosevka Term Curly;
  font-size: 16;
  font-weight: normal;
}

#vomnibar li em,
#vomnibar li .vomnibarTitle {
  color: #83a598;
  font-family: Iosevka Term Curly;
  font-size: 16;
  font-weight: normal;
}

#vomnibar li .vomnibarUrl {
  color: #ebdbb2;
  font-family: Iosevka Term Curly;
  font-size: 16;
  font-weight: normal;
}

#vomnibar li .vomnibarMatch {
  color: #b8bb26;
  font-weight: normal;
}

#vomnibar li .vomnibarTitle .vomnibarMatch {
  color: #83a598;
}

#vomnibar li.vomnibarSelected {
  background-color: #000000;
  padding: 10px;
  border: 2px solid #EBDBB2;
  border-radius: 4px;
}

/* -------- HUD -------- */
div.vimiumHUD {
  background: #000000;
  border: 2px solid #EBDBB2;
  border-radius: 4px;
  box-shadow: none;
}

div.vimiumHUD span#hud-find-input,
div.vimiumHUD .vimiumHUDSearchAreaInner {
  color: #ebdbb2;
  font-family: Iosevka Term Curly;
  font-size: 16;
  font-weight: normal;
}

div.vimiumHUD .hud-find {
  background-color: transparent;
  border: 2px solid #EBDBB2;
  border-radius: 4px;
}
div.vimiumHUD {
  width: auto;
  left: 207px;
}
div.vimiumHUD .vimiumHUDSearchArea {
  background-color: transparent;
}
